<!DOCTYPE html>
<html>
<head>
/* Notes */
<style>

  *  {
    padding: 0;
     margin: 0;
}
  a  {
    text-decoration: none;
}
  p  {
    padding-left: 10px;
 }
 @font-face {
  font-family: 'Germania-Shadow';
  src: url('fonts/Germania-Shadow.ttf');  
	}
  .container  {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
	float:left;
}
	.body {
	height: 1080px;
	width: 1920px;
}
	.header {
	background-image:url(Images/1.png);
	background-position:center;
	background-repeat:no-repeat;
		
	}
  .header h1  {
    color: black;
    line-height: 90px;
    text-align: center;    
	letter-spacing: 10px;
	font-size: 60px;
	font-family:Germania-Shadow;		
}
	
  .header img  {
    float: left;
    height: 90px;
    width: 90px;
	position:fixed;
	left:20px;
	z-index:2;
}
  .nav  {
    background-color: #a0b9df;
    width: 125px;
	height: 1000px;
    float: left;
    font-family:  content;
	overflow:hidden;	
}
  .nav ul  {
    margin: -15px;
    list-style-type: circle;
    font-family:  content;
	float:left
}
   .leftad {
    background-color: #000000;
    width: 125px;
	height: 1000px;
    float: left;
    font-family: content;
	Margin-top:20px;
	z-index:-2;	
}
  .right  {
    background-color: #a0b9df;
    float: right;
	height: 1000px;
    width: 125px;
    font-family:  content;
	overflow:hidden;	
}
	.rightad  {
    background-color: #000000;
    width: 125px;
	height: 1000px;
    float: right;
    font-family: content;
	Margin-top:12px;
	z-index:-1;
}
  .content  {
    float: left;
    width: 1670px;
    color: White;
    font-family:  content;
	text-align:center;
	display: inline;
	position:relative;
	word-spacing:20px;	
}
	.content img {
	padding-right: 10px;
	padding-bottom: 10px;
	position:relative;	
	display: inline;
	border-bottom-color: #a0b9df;    
    border-style: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-right: 0px
}
	.content ul {
	display: inline;
	Position: center;
	word-spacing: 30px;
	font-size: 30px;
	font-weight:bold;
	line-height: 90px;		
}
	.content p {
	word-spacing: 400px;
	font-size:30px;
	font-weight:bold;		
	}
	.share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	display: inline;
	
}
	.Front {
	height: 200px;
	width: 400px;
	Position:center;
	}
	.bottomad  {
	display: inline;
    background-color: #000000;
    width: 1920px;
	height: 100px;
    float: left;
    font-family: content;
	Margin-bottom:40px;	
	}	
  .footer  {
    clear: left;
    background-color: #a0b9df;
    font-family:content;	
}
</style>
</head>
<body>
</body>
</html>
