<!DOCTYPE html>
<html>
<head>
/* Notes */
<style>

  *  {
    padding: 0;
     margin: 0;
}

  a  {
    text-decoration: none;
}

  p  {
    padding-left: 10px;
 }

  .container  {
    width: 1920px;
     margin-left: auto;
     margin-right: auto;
}
	.body {
	 height: 1080px;
	 width: 1920px;
	}
  .header  {
    background-color: #4072bf;
}

  .header h1  {
    color: white;
     line-height: 90px;
     text-align: center;
    font-family:  Header;
	letter-spacing: 0px;
	font-size: 50px;
	font-family: Header; src: url('fonts/Altgotisch.ttf');
	padding-right:90px;
}

  .header img  {
    float: left;
     height: 90px;
     width: 90px;
     padding: 5px;
     margin-right: 20px;
}
  .nav  {
    background-color: #a0b9df;
     width: 115px;
	 height: 150px;
     float: left;
    font-family:  content;
}

  .nav ul  {
    margin: -15px;
     list-style-type: circle;
    font-family:  content;
	float:left
}

  .content  {
    float: left;
     width: 1690px;
    color: White;
    font-family:  content;
	text-align:center;
	display: inline;
	position:relative;
}
	.content img {
		padding-right: 10px;
		padding-bottom: 10px;
		position:relative;
		border: 1px solid grey;
		display: inline;
}
	.content ul {
		display: inline;
		Position: left;
		word-spacing: 30px;
		font-size: 20px;
		
		
}
	.content iframe {
		height: 900px;
		width: 1700px;
		overflow: hidden;
		
		
}

  .right  {
    background-color: #a0b9df;
     float: right;
     width: 115px;
    font-family:  content;
}

  .footer  {
    clear: left;
     background-color: #a0b9df;
    font-family:  content;
}

</style>
</head>
<body>
</body>
</html>
