<!DOCTYPE html>
<html>
<head>
/* Notes */
<style>

  *  {
    padding: 0;
     margin: 0;
}
  a  {
    text-decoration: none;
}
  p  {
    padding-left: 10px;
 }
 @font-face {
  font-family: 'Germania-Shadow';
  src: url('fonts/Dolce Vita.ttf');  
	}
@font-face {
	font-family: 'content';
	src: url('fonts/Enigma__2.ttf')
}
  .container  {
	background-image:url(Images/BG.png);
	background-position:center;
	background-repeat:no-repeat;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
	float:left;
}
	.body {
	height: 1080px;
	width: 1920px;
}
	.header {
	background-image:url(Images/1.png);
	background-position:center;
	background-repeat:no-repeat;
		
	}
  .header h1  {
    color: white;
    line-height: 90px;
    text-align: center;    
	letter-spacing: 10px;
	font-size: 60px;
	font-family:Germania-Shadow;		
}
	
  .header img  {
    float: left;
    height: 90px;
    width: 90px;
	position:fixed;
	left:20px;
	z-index:2;
}
  .nav  {
    background-color: rgba(0, 0, 0, 0);
    width: 1920px;
	height: 120px;
	display: block;
	font-family:  content;
	font-size:25px;	
	text-align:center;
	overflow:hidden;
	position:relative;	    
    padding-top: 20px;    
}

   .leftad {
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
	height: 1000px;
    float: left;
    font-family: content;
	Margin-top:20px;
	z-index:-2;	
}

	.rightad  {
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
	height: 1000px;
    float: right;
    font-family: content;
	Margin-top:12px;
	z-index:-1;
}
  .content  {
	background-color: #a0b9df;
    float: left;	
    width: 1520px;
	left:0;
    color: Black;
    font-family:  content;
	text-align:center;
	display: inline;
	position:relative;		
}
 .content a {
	position:center;
	word-spacing:10px;
	font-size:20px;
 }
	.content img {
	padding-right: 10px;
	padding-bottom: 10px;
	position:relative;	
	display: inline;    
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding-right: 0px
}
	.content ul {
	display: inline;
	Position: center;
	word-spacing: 30px;
	font-size: 30px;
	font-weight:bold;
	line-height: 90px;		
}
	.share-buttons{
	padding-top:20px;
	}
	.share-buttons img {
	width: 35px;
	padding: 5px;	
	border: 0;
	display: inline;	
}
	.Front {
	height: 200px;
	width: 400px;
	Position:center;
	}
	.bottomad  {
	display: inline;
    background-color: rgba(0, 0, 0, 0);
    width: 1920px;
	height: 100px;
    float: left;
    font-family: content;
	Margin-bottom:40px;	
	}	
  .footer  {
    clear: left;
    background-color: #a0b9df;
    font-family:content;
}
	.button {
   border: 1px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 13px 26px;
   -webkit-border-radius: 17px;
   -moz-border-radius: 17px;
   border-radius: 17px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 21px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
	.button:hover {
   border: 1px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
	.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 1px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
</style>
</head>
<body>
</body>
</html>
